@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "hidayatullah";
  src: url("/fonts/hidayatullah.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  background-image: url("./assets/hadeesgeneratorbg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

h1 {
  font-family: "hidayatullah", sans-serif;
}
